html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: ff-dax-compact-pro, sans-serif;
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(25, 25, 25);
}

#design {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.regNav {
    width: calc(100vw - 100px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 50px 5px 50px;
    background-color: #191919;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    z-index: 1000;
}

.regList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

.regItem {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 40px;
}

.homeLink {
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.logoBox {
    width: 100%;
    height: 100%;
    font-weight: 900;
    font-size: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

#logo {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoType {
    display: flex;
    align-items: center;
}

.navItemsBox {
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

#navItem {
    display: flex;
    align-items: center;
    color: white;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 50px);
    color: white;
}

.projectTitle {
    font-size: 48px;
    margin-top: -50px;
}

.projectBox {
    width: clamp(300px, 60vw, 800px);
    height: clamp(300px, 50vw, 600px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.designProject {
    width: clamp(250px, calc(30vw - 10px), 400px);
    height: clamp(150px, calc(30vw - 10px), 300px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}

.designOne {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("../images/Ark.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.designTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("../images/PeerReview.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.designThree {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("../images/Klicko.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.designFour {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("../images/SaltLake.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.designOne:hover {
    background-color: #09B5C2;
    background-image: url("../images/ArkHover.png");
    background-position: center;
    z-index: 50;
}

.designTwo:hover {
    background-color: rgb(255, 0, 0);
    background-image: url("../images/PeerReviewHover.png");
    background-position: center;
    z-index: 50;
}

.designThree:hover {
    background-color: yellow;
    background-image: url("../images/KlickoHover.png");
    background-position: center;
    z-index: 50;
}

.designFour:hover {
    background-color: orange;
    background-image: url("../images/SLCHover.png");
    background-position: center;
    z-index: 50;
}

/* .designOne:hover:after {
    content: "Ark";
    font-size: 24px;
    position: absolute;
    margin-top: 250px;
    z-index: 51;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

.designTwo:hover:after {
    content: "Peer Review";
    font-size: 24px;
    position: absolute;
    margin-top: 250px;
    z-index: 51;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

.designThree:hover:after {
    content: "Klicko";
    font-size: 24px;
    position: absolute;
    margin-top: 250px;
    z-index: 51;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

.designFour:hover:after {
    content: "Mock Olympics";
    font-size: 24px;
    position: absolute;
    margin-top: 250px;
    z-index: 51;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
} */

.projectImages {
    width: 80%;
    height: 80%;
    object-fit: contain;
    object-position: center;
}

.devOne:hover {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.devTwo:hover {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.devThree:hover {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 50;
}

.devFour:hover {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 50;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 50px);
    color: white;
}

.contactBox {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}