html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: ff-dax-compact-pro, sans-serif;
    color: white;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(25, 25, 25);
    overflow: hidden;
}

#landing {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#anim {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#noAnim {
    display: none;
}

.welcomeNav {
    width: calc(100vw - 100px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 50px 5px 50px;
    background-color: #191919;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    animation: 5s appear forwards;
}

@media only screen and (max-width: 685px) {
    .welcomeNav {
        width: calc(100vw - 50px);
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 25px 5px 25px;
        background-color: #191919;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        animation: 5s appear forwards;
    }
}

.welcomeList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.welcomeItem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 50%
}

@media only screen and (min-width: 685px) {
    .navLogo {
        width: 50%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .navMenu {
        width: 0px;
        height: 0px;
        display: none;
    }

    .navLinks {
        width: 50%;
        height: 40px;
    }
}

.logoBox {
    width: 200px;
    height: 40px;
    font-weight: 900;
    font-size: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

#logo {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoType {
    display: flex;
    align-items: center;
}

.hamburgerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: none;
}

.hamburgerBox {
    width: 0px;
    height: 0px;
    display: hidden;
}

.shownContainer {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 25px 5px 25px;
    width: calc(50vw - 50px);
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: white;
    z-index: 2000;
}

.shownBox {
    filter: invert(1);
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2001;
    gap: 0px;
    cursor: pointer;
}

.shownOne {
    position: absolute;
    transform: rotate(45deg);
    z-index: 2002;
}

.shownTwo {
    position: absolute;
    transform: rotate(45deg);
    z-index: 2003;
}

.shownThree {
    position: absolute;
    transform: rotate(-45deg);
    z-index: 2004;
}

@media only screen and (max-width: 685px) {
   .hamburgerBox {
        width: 25px;
        height: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        cursor: pointer;
    } 
}

.hamburgerLine {
    width: 0px;
    height: 0px;
    display: hidden;
}

@media only screen and (max-width: 685px) {
    .hamburgerLine {
        width: 100%;
        height: 2.5px;
        background-color: white;
        border-radius: 5px;
    }

    .navMenu {
        width: 50vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1999;
    }
    
    .navLinks {
        width: 0px;
        height: 0px;
        display: hidden;
    }
}

.dropDownMenu {
    display: none;
    width: 0px;
    height: 0px;
}

.menuShown {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    gap: 15px;
    width: 50%;
    height: 50%;
    z-index: 2005;
}

.dropDownLink {
    display: none;
    width: 0px;
    height: 0px;
}

.linkShown {
    width: 100%;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #191919;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    z-index: 2006;
    background-color: red;
}

.linkShown:hover {
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.75);
}

.navItemsBox {
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

@media only screen and (max-width: 685px) {
    .navItemsBox {
        width: 0px;
        height: 0px;
        display: hidden;
        overflow: hidden;
    }
}

#navItem {
    display: flex;
    align-items: center;
    color: white;
}

@keyframes disappear {
    0% {
        width: 100vw;
        height: 100vh;
    }
    80% {
        width: 100vw;
        height: 100vh;
    }
    100% {
        width: 100vw;
        height: 0px;
        display: none;
    }
}

@keyframes appear {
    0% {
        opacity: 0%;
    }
    85% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

#anim {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    animation: 5s disappear forwards;
}

.welcomeMain {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 50px 0px 50px;
    width: calc(100vw - 100px);
    height: calc(100vh - 100px);
    background-image: url('../images/profile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    animation: 6s appear forwards;
    z-index: 5;
}

@media only screen and (max-width: 1100px) {
    .welcomeMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 50px 50px 0px 50px;
        width: calc(100vw - 100px);
        height: calc(100vh - 100px);
        background-image: none;
        animation: 6s appear forwards;
        z-index: 5;
    }
}

@media only screen and (max-width: 685px) {
    .welcomeMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 10px 25px 0px 25px;
        width: calc(100vw - 50px);
        height: calc(100vh - 60px);
        background-image: none;
        animation: 6s appear forwards;
        z-index: 5;
    }
}

.welcomeMain:after {
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 10;
}

.welcomeInfo {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    max-height: 30vh;
    height: calc(30vh - 50px);
}

#greetBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    height: 100px;
}

#welcomeGreet {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    color: white;
    font-size: clamp(21px, 5vw, 75px);
    animation: 6s appear forwards;
}

#delayedGreet {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60vw;
    max-height: 300px;
    color: white;
    font-size: clamp(21px, 5vw, 75px);
    animation: 6s appear forwards;
}

.welcomeBio {
    animation: 6s appear forwards;
    font-size: clamp(16px, 2vw, 36px);
}

.welcomeDescription {
    animation: 6s appear forwards;
    font-size: clamp(12px, 1.5vw, 24px);
}

.welcomePictureSection {
    display: hidden;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

@media only screen and (max-width: 1100px) {
    .welcomePictureSection {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: calc(70vh - 50px);
        position: relative;
        bottom: 0;
    }

    .welcomeProfilePicture {
        object-fit: contain;
        object-position: bottom;
        width: 100%;
        height: 100%;
        max-height: 500px;
    }
}

@media only screen and (max-device-width: 685px) {
    .welcomePictureSection {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 50vh;
        position: absolute;
        bottom: 0;
    }

    .welcomeProfilePicture {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100%;
    }
}
