@keyframes appear {
    0% {
        opacity: 0%;
    }

    85% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

.welcomeNav {
    width: calc(100vw - 100px);
    max-width: 1920px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 50px 5px 50px;
    background-color: #191919;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    animation: 5s appear forwards;
    position: relative;
    z-index: 1990;
}

.welcomeList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.welcomeItem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 50%
}

@media only screen and (max-width: 685px) {
    .welcomeNav {
        width: calc(100vw - 50px);
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 25px 5px 25px;
        background-color: #191919;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        animation: 5s appear forwards;
    }
}